/** @define Typography */

// Franklin Gothic

@font-face {
  font-family: "franklin-gothic-urw", sans-serif;
}

// Font stack variable
$franklin-gothic: "franklin-gothic-urw", sans-serif;

// Convenient extend objects for typography
%franklin-gothic-book {
  font-family: $franklin-gothic;
  font-style: normal;
  font-weight: 400;
}

%franklin-gothic-book-italic {
  font-family: $franklin-gothic;
  font-style: italic;
  font-weight: 400;
}

%franklin-gothic-medium {
  font-family: $franklin-gothic;
  font-style: normal;
  font-weight: 500;
}

%franklin-gothic-demi {
  font-family: $franklin-gothic;
  font-style: normal;
  font-weight: 700;
}

// Calluna

@font-face {
  font-family: "calluna", serif;
}

// Font stack variables
$calluna: "calluna", serif;

// Convenient extend objects for typography
%calluna-regular {
  font-family: $calluna;
  font-style: normal;
  font-weight: 400;
}

%calluna-italic {
  font-family: $calluna;
  font-style: italic;
  font-weight: 400;
}
