// Main navigation

.GlobalHeader {
  background-color: $black-10;
  padding: $v $h;
}

.GlobalHeader-logo {
  @extend %container;
}

.GlobalNav {
  @extend %container;

  // @media #{$mobile-only} {
  //   position: absolute;
  // }

  @media #{$mobile-up} {
    margin-top: $v;
  }
}

// li
.GlobalNav-item {

  @media #{$tablet-up} {
    display: inline-block;
  }

  > a {
    color: $white;
    padding-left: $h;
    padding-right: $h;
  }

  &:first-child a {
    padding-left: 0;
  }
}

// .GlobalNav-item-link {
// }

.PageTitle {
  @extend %franklin-gothic-book;
  @include font-size(14px);
  letter-spacing: 2px;
  margin-top: 18px;
  padding-bottom: $v*1.75; 
  padding-top: $v*1.75; 
  text-align: center;
  width: 100%;
}
