<!--
we are currently logging in by POSTing username and password to '/login/local'
the ajax function:
function login(username, password) {
  $.ajax({
    type : "POST",
    url : loginUrl(),
  data: {
    username: username,
    password: password
    },
    success : loginSuccess,
    error : loginError
  });
}
-->
<div class="Grid" id="loginPage">
  <div class="Grid-cell u-md-size1of2 u-lg-size1of2">
    <h2>Login</h2>
    <br>
      <label for="username" class="sr-only">Username
        <br>
        {{input type="text" value=username class="form-control" placeholder="MyMsd™ username" required=autofocus}}
      </label>
      <br>
      <br>
      <label for="password" class="sr-only">Password
        <br>
        {{input type="password" value=password class="form-control" placeholder="Password"}}
      </label>
      <br>
      <br>
      <div id="login-error" class="alert alert-danger" style="display: none; color: red;">
          Error logging in. Please check your username and password.
      </div>
      <button {{action "login"}} class="Button" name="signin-button" style="margin-right: 15px;">Sign in</button>
      <a class="Button" href="/mymsd/login/realme" role="button">Sign in with RealMe</a>
      <br>
      <br>
      <a href="">/</a>
      <a href="" id="showhidedebugging">Toggle debugging</a>
      <br>
      <br>
      <br>
  </div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of2">
    <div id="debugging" style="display: none">
      <h2>Debugging</h2>
      <br>
      <label for="hostAndPort">Host:port
        <br>
        <input id="hostAndPort" type="text" value="localhost:9080" style="display:block">
      </label>
      <br>
      <button class="Button" name="signin-button2" style="margin-right: 15px;"> Login (username/password)</button>
      <button class="Button" name="signin-button4"> Logout </button>
      <br>
      <br>
      <button class="Button" name="link2">User info</button>
      <span id="corsUrl"></span>
      <br>
      <br>
      <div>
        <h3>xhr response:</h3>
        <span id="corsContent"></span>
      </div>
      <div id="response" class="alert alert-info" style="color: red;"></div>
    </div>
  </div>
</div>

<div id="homescreen" class="container" style="display: none">
  <h2>Welcome <span data-user>data-user</span></h2>
  <div>
    <h3>Data from server:</h3>
    <div id="data">
      <textarea id="jSON" class="u-sm-sizeFull u-md-size1of2 u-lg-size1of2" style="height: 331px; margin-bottom: 10px;"></textarea>
    </div>
  </div>
  <div>
    <button class="Button" name="link1" style="margin-right: 15px;">Upcoming appts</button>
    <button class="Button" name="link2" style="margin-right: 15px;">User info</button>
    <button class="Button" name="link3" style="margin-right: 15px;">something else?</button>
    <button class="Button" name="signin-button4"> Logout </button>
  </div>
</div>

<div id="errorResponse" class="container alert alert-warning" style="display: none; color: red;"></div>

<script>
  function hostAndPort() { return $('#hostAndPort').val(); };
  function loginUrl() { return serverUrlAndContext(); };
  function logoutUrl() { return serverUrlAndContext() + "/rest/logout"; };
  function serverUrlAndContext() {
    var context = location.pathname.split('/')[1];
    return "http://" + hostAndPort() + (context ? "/" + context : "");   
  }
</script>

<script>
  $(document).ready(function() {
    $('#hostAndPort').val(window.location.host);
    $.ajaxSetup({
    beforeSend: function(xhr) {
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    }
  }); 
  $('#showhidedebugging').click(function(evt) {
    $('#debugging').toggle();
      evt.preventDefault();
    })
  });
  function loginError(qXHR, textStatus, errorThrown) {
    $('#homescreen').hide();
    $('#loginPage').show();
    if (qXHR.status == '401') {
      //unauthorized
      $('#login-error').show();
    } else {
      // other   
      $('#login-error').hide();
    }
    errorResponse(qXHR, textStatus, errorThrown);
  }
  function errorResponse(qXHR, textStatus, errorThrown) {
    console.log(qXHR);
    console.log(textStatus);
    console.log(errorThrown);
    $('div#errorResponse').text(textStatus).show();
  }
  function loginSuccess(data) {
    console.log(data);
    displayJson("/rest/client", 'GET', function(data) {
      console.log(data);
      $('#jSON').text(JSON.stringify(data, null, 2));
      if (data.name) {   
        $('[data-user]').text(data.name);
      }
    }); 
    getAppointments();
    $('#homescreen').show();
    $('#loginPage').hide();
    $('#login-error').hide();
    $('#errorResponse').hide();
  }
  function getAppointments() {
    displayJson("/rest/appointments/next", 'GET');
  }
  $('button[name=link1]').click(function(evt) {
     displayJson("/rest/appointments/next", 'GET'); 
  });
  $('button[name=link2]').click(function(evt) {
     displayJson("/rest/client", 'GET', function(data) {
      console.log(data);
      $('#jSON').text(JSON.stringify(data, null, 2));
      if (data.name) {   
        $('[data-user]').text(data.name);
      }
    });
  });
  $('button[name=link3]').click(function(evt) {
     displayJson("/rest/user/test", 'GET'); 
  });
  function displayJson(url, type, success) {
    $.ajax({
      type: type,
      url: serverUrlAndContext() + url,
      success : success ? success : function(data) {
        console.log(data);
        $('#jSON').text(JSON.stringify(data, null, 2));
      },
      error : errorResponse
    });   
  }

</script>

<script id="debugging-scripts">
  $('[name=signin-button3]').click(function(evt) {
    $.ajax({
      type : "GET",
      url : "http://"+hostAndPort()+"/" + getContext() + "/rest/appointments/next",
      success : function(data) {
        console.log(data);
        $('div#response').text(JSON.stringify(data, null, 4));
      },
      error : function(qXHR, textStatus, errorThrown) {
        console.log(qXHR);
        console.log(textStatus);
        console.log(errorThrown);
        $('div#response').text(textStatus);
      }
    });   
  });  
  function logout() {
    $.ajax({
      type : "POST",
      url : logoutUrl(),
      success : function(data) {
        console.log(data);
        $('div#response').text(data);
        $('#homescreen').hide();
        $('#loginPage').show();
        $('#login-error').hide();
      },
      error : function(qXHR, textStatus, errorThrown) {
        console.log(qXHR);
        console.log(textStatus);
        console.log(errorThrown);
        $('div#response').text(textStatus);
      }
    });
  }
  $('[name=signin-button4]').click(function(evt) {
     logout();
  });
</script>
